<!DOCTYPE html>
<html lang="en" ng-app="principal" ng-controller="FiguranteController">
<head>
  <meta charset="utf-8">
  <title>Figurantes</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="figurante procuro contrato preciso" name="keywords">
  <meta content="Sistema para cadastro e busca de figurantes" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap css -->
  <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.theme.default.min.css" rel="stylesheet">
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/modal-video/css/modal-video.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: eStartup
    Theme URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <header id="header" class="header header-hide">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto"><span>e</span>Startup</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>
    </div>
  </header><!-- #header -->

  <!--==========================
  Contact Section
  ============================-->
  <section id="contact" class="padd-section wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">
        <h2>Cadastro</h2>
        <p class="separator">Preencha com seus dados para finalizar seu cadastro.</p>
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="registerForm">
              <div class="form-group">
                <input type="text" name="nome" class="form-control" id="nome" ng-model="model.nome" placeholder="Seu nome" maxlength="50" data-rule="minlen:4" data-msg="Por favor, preencha com seu nome" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" name="cpf" class="form-control" id="cpf" ng-model="model.cpf" placeholder="Seu cpf" data-rule="minlen:4" data-msg="Por favor, preencha com seu nome" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" ng-model="model.email" placeholder="Seu email" data-rule="email" data-msg="Por favor, preencha com um email válido" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="senha" id="senha" ng-model="model.senha" placeholder="Sua senha" data-rule="minlen:4" data-msg="Por favor, preencha com ao menos 4 caracteres" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="idade" id="idade" ng-model="model.idade" placeholder="Sua idade" data-rule="minlen:2" data-msg="Por favor, preencha com sua idade" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <label>Escolha sua etinia:</label>
                <select class="form-control" id="etinia" ng-model="model.etinia" name="etinia">
                  <option value="escolha">Escolha</option>
                  <option value="branco">Branco</option>
                  <option value="pardo">Pardo</option>
                  <option value="negro">Negro</option>
                  <option value="amarelo">Amarelo</option>
                  <option value="indigena">Indígena</option>
                </select>
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <label>Escolha seu gênero:</label>
                <select class="form-control" id="genero" ng-model="model.genero" name="genero">
                  <option>Escolha</option>
                  <option value="f">Feminino</option>
                  <option value="m">Masculino</option>
                </select>
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="altura" id="altura" ng-model="model.altura" placeholder="Sua altura" data-rule="minlen:4" data-msg="Por favor, preencha com sua altura" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="peso" id="peso" ng-model="model.peso" placeholder="Seu peso" data-rule="minlen:4" data-msg="Por favor, preencha com seu peso" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="endereco.cidade" id="cidade" ng-model="model.endereco.cidade" placeholder="Sua cidade" data-rule="minlen:4" data-msg="Por favor, preencha com sua cidade" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="endereco.estado" id="estado" ng-model="model.endereco.estado" placeholder="Seu estado" data-rule="minlen:4" data-msg="Por favor, preencha com seu estado" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" id="caracteristicas" ng-model="model.caracteristicas" name="caracteristicas" rows="5" data-rule="required" data-msg="Por favor, preencha com suas características físicas" placeholder="Suas características físicas. Exemplo: tatuagem no pescoço, piercing no nariz, cabelo verde, anão, grávida ..."></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center">
                <button type="button" ng-click="salvar()">salvar</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-6 col-md-8">
            <p ng-if="figurantes==null">Não existe resultados para esta pesquisa</p>
            <table ng-if="figurantes!=null" border="4" class="table table-striped">
                <tr>
                    <th>id</th>
                    <th>nome</th>
                    <th>idade</th>
                    <th>ações</th>
                </tr>
                <tr ng-repeat="figurante in figurantes">
                    <td>{{figurante.id}}</td>
                    <td>{{figurante.nome}}</td>
                    <td>{{figurante.idade}}</td>
                    <td>
                        <button class="btn btn-success">editar</button> 
                        <button class="btn btn-danger" ng-click="excluir(figurante.id)">excluir</button>
                    </td>
                </tr>   
            </table>            
        </div>
      </div>
    </div>
  </section><!-- #contact -->

  <!--==========================
    Footer
  ============================-->
  <footer class="footer">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-lg-4">
          <div class="footer-logo">

            <a class="navbar-brand" href="#">eStartup</a>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the.</p>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Abou Us</h4>

            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Features item</a></li>
              <li><a href="#">Live streaming</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Abou Us</h4>

            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Features item</a></li>
              <li><a href="#">Live streaming</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Support</h4>

            <ul class="list-unstyled">
              <li><a href="#">faq</a></li>
              <li><a href="#">Editor help</a></li>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Abou Us</h4>

            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Features item</a></li>
              <li><a href="#">Live streaming</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

      </div>
    </div>

    <div class="copyrights">
      <div class="container">
        <p>&copy; Copyrights eStartup. All rights reserved.</p>
        <div class="credits">
          <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eStartup
          -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>

  </footer>



  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/modal-video/js/modal-video.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="js/contact-form.js"></script>
  <script src="js/register-form.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-route.js"></script>


  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

  <script src="js/app/app.js"></script>
  <script src="js/app/controller.js"></script>
  <script src="js/app/service.js"></script>

</body>
</html>
